div.box1 {
    background-color: red;
    width: 500px;
    height: 300px;
    position: relative;
    margin: 50px 0px 0px 100px ;
}
  
.dot {
    height: 150px;
    width: 150px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    margin: -230px 0px 0px 280px;
}